body{background-color: rgb(250, 255, 213); font-size: large;
    font-family:sans-serif; font-weight: bold;}

h1{text-align: center;background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);}

p{text-align: center;}

img{margin-left: auto; margin-right: auto; border: 0px;}

/* FOOTER */

footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-color: black;
}
.redes{
    width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#GitHub, #Facebook, #Linkedin{
    filter: invert(1);
    width: 50px;
    padding: 20px;
}