/* BODY */
body{
    background-color: #202124;
    margin: 0; padding: 0; min-width: 400px; font-size: 14px;
    box-sizing: border-box; font-family: 'Roboto', sans-serif;
}

/* HEADER */
header{
    display: flex; justify-content: flex-end; align-items: center;
    height: 48px; padding: 6px;
}
header .Encabezado{
    display: flex; align-items: center;
    width: 234.05px; height: 48px; padding: 0 4px 0 32px;
    font-size: 13px;
}
header .Encabezado a{
    color:white; text-decoration: none;
    display: flex;
    justify-content: center; align-items: center;
    padding: 0 12px;
}
#APP{width: 24PX; height: 24PX;}
#USER{width: 32px; height: 32px; border-radius: 50%;}

/* MAIN */
/* MAIN-LOGO */
.LOGO{
    display: flex; align-items: flex-end;
    justify-content: center;
    height: 197.6px;
}
#LOGO{width: 272px; height: 92px;}
/* MAIN-BUSCADOR */
.BUSCADOR{
    display: flex; flex-flow: column;
    justify-content: center; align-items:center ;
    height: 120px; padding: 20px; padding-top: 26px; 
}
/* MAIN-BUSCADOR-SEARCH */
.SEARCH{
    background-color: transparent;
    border: 1px solid #5f6368; border-radius: 24px;
    display: flex; justify-content: center; align-items: flex-end;
    width: 560.4px; height: 41px;
    padding: 5px 8px 0 14px;
}
.SEARCH:hover{
    background-color: #303134; 
    border: 1px solid transparent;
}
#LUPA{
    padding-right: 13px; 
    width: 20px; height: 46px;
}
#input-search{
    background-color: transparent; color: white;
    margin-bottom: 8px; width: 443.4px; height: 27px;
    border: none; outline: none;
}
#MICROFONO, #CAMARA{
    padding: 0 8px;
    width: 24px; height: 44px;
}
/* MAIN-BUSCADOR-BOTONES */
.BOTONES{
        display: flex; flex-wrap: wrap;
        justify-content: center; align-items: center;
        width: 584px; height: 70px;
        padding-top: 18px;
}
#search, #lucky{
    background-color: #303134; color: #e8eaed; 
    border: 1px; border-radius: 4px;
    font-size: 14px; font-family: 'Roboto';
    width: 164px; height: 36px;
    padding: 0 16px; margin: 11px 4px;
}
#search:hover, #lucky:hover{
    border: 1px solid #5f6368; cursor: pointer;
}
/* MAIN-IDIOMA */
.IDIOMA{
    color: #bdc1c6; font-size: 13px;
    display: flex; justify-content: center;
    height: 28px; margin-bottom: 24px;
}
.IDIOMA p{
    display: flex; align-items: center;
    height: 28px; margin: 0;
}
.IDIOMA p a{
    color: #8ab4f8; text-decoration: none;
    padding: 0 3px;
}

/* FOOTER */
footer{
    background-color: #171717;
    display: grid; grid-template-rows: 1fr 1fr;
    position: absolute; bottom: 0;
    width:100%; height: 95.2px;
}
.PAIS{
    display: flex; align-items: center;
    color: #9aa0a6; border-bottom: 1px solid #3c4043;
    height: 17.6px; padding: 15px 30px;
}
.VINCULOS{
    display: flex; flex-wrap: wrap;
    align-items: center; justify-content: space-between;
    height: 46.8px; padding: 0 20px;
}
.VINCULOS a{
    text-decoration: none; color: #999da2;
    padding: 15px;
}